* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav img{
    width:150px;
}  
.nav-links{
     flex:1;
     text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color:rgb(47, 47, 48);
    text-decoration:none;
    font-size:13px;
}
.nav-links ul li::after{
   content:'';
   width:0%;
   height:2px;
   background:#f44336;
   display:block;
   margin:auto;
   transition:0.5s;
}
.nav-links ul li:hover::after{
   width:100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.top {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(css2/banner00.png);
	filter: blur(4px);
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-box{
      width:90%;
      color:#fff;
      position:absolute;
	  
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      text-align:center;
}
.text-box h1{
      font-size:62px;
	  filter:blur(1px);
}
.text-box p{
      margin:10px 0 40px;
      font-size:17px;
      color:#fff;
}


.hero-btn{
      display:inline-black;
      text-decoration:none;
      color:white;
      border:1px solid #fff;
      padding:12px 34px;
      font-size:18px;
	  text-align:center;
      background:transparent;
      position:relative;
      cursor:pointer;
      border-radius: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border: none;
  }
.hero-btn:hover{
      border:1pxsolid #f44336;
      background:#f44336;
      transition:1s;
  }



body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}
.left-container {
    height: 100vh;
    background-color:bisque;
    background-size: cover;
    background-position: center;
    position: relative;
}

.right-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.header {
    font-weight: 700;
    font-size: 36px;
}

.sub-text {
	padding-top:10%;
    font-size: 20px;
    font-weight:500;
}

.month-container {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.calc-container {
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
}

.fs-white {
    color: #4e4e4e;
}

.fs-dark-grey {
    color: #4e4e4e;
}

.budget-container {
    display: inline-block;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 4px #000000;
}

.month-amount {
    font-size: 36px;
    font-weight: 700;
}

.bottom-border {
    border-bottom: 1px solid #00446D;
}

.expense-row {
    padding: 10px;
}

.expense-date {
    color: #077CC1;
}

.expense-text {
    color: #077CC1;
}

.expense-list {
    overflow-y: scroll;
}

.fs-15 {
    font-size: 15px;
}

.expense-value {
    text-align: end;
}

.expense-saving {
    color: #039300;
}

.expense-cost {
    color: #E40000;
}

.expense-investment {
    color: #f48803;
}

#expense-chart {
    margin: 20% 0;
}

.btn-submit-expense {
    border-radius: 50%;
}

.currency-select {
    margin: 0 4%;
}

.selected-currency {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1%;
}
.last{
    background:radial-gradient(rgb(227, 230, 224),rgb(247, 178, 145));
    height:550px;
    width:100%;
    margin-top: -20px;
}
.last a{
    text-decoration: none;
}
.cn{
    margin-top: 23px;
    padding:30px;
    padding-left: 63px;
}
.nj{
    
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
   
}
.we{
    margin-top: -12px;
}
h3{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.explore{
    margin-top:-315px;
    margin-left: 423px;
    
}
.cn a{
    text-decoration: none;
    color: black;
}
.cn a:hover{
    color:blue;
}
.jhg{
    padding-left: 23px;
}